<html>
    <head>
        <title>486 course - @ViewData["Title"]</title>
        <link rel="stylesheet" href="~/assets/normalize.css" />
        <link rel="stylesheet" href="~/assets/skeleton.css" />
    </head>
    <body>
        @RenderBody()
    </body>
</html>