@* Hello *@
@model MVC486.Models.Speaker
@{
    ViewData["Title"] = "Create a Speaker";
}

<h1>Create a Speaker</h1>
<form asp-action="Create">
    <div asp-validation-summary="All"></div>
    <row>
        <column size="one">
          <label asp-for="Name"></label>
          <span asp-validation-for="Name"></span>
        </column>
        <column size="eight">
          <input asp-for="Name" />
        </column>
    </row>
    <row>
        <column size="one">
          <label asp-for="EmailAddress"></label>
          <span asp-validation-for="EmailAddress"></span>
        </column>
        <column size="eight">
          <input asp-for="EmailAddress">
        </column>
    </row>
    <p>
        <input type="submit" value="Create" />
    </p>
</form>
